body {
  text-align: center;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
}

.productContainer > .link {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px rgb(65, 102, 100);
  margin: 10px;
}

.productContainer > .link:hover {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px rgb(65, 102, 100);
  margin: 10px;
}
